<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Add Product - Dashboard HTML Template</title>
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:400,700"
  />
  <!-- https://fonts.google.com/specimen/Roboto -->
  <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" />
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" th:href="@{jquery-ui-datepicker/jquery-ui.min.css}" type="text/css" />
  <!-- http://api.jqueryui.com/datepicker/ -->
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
  <!--
  Product Admin CSS Template
  https://templatemo.com/tm-524-product-admin
  -->
</head>

<body>
<!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="circle"></div>
  </div>
</div>
<!--PreLoader Ends-->
<nav class="navbar navbar-expand-xl">
  <div class="container h-100">
    <a class="navbar-brand" th:href="@{/manager}">
      <h1 class="tm-site-title mb-0">Product Manager</h1>
    </a>
    <button
            class="navbar-toggler ml-auto mr-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <i class="fas fa-bars tm-nav-icon"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto h-100">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/manager}">
            <i class="fas fa-tachometer-alt"></i> Orders
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/manageProduct}">
            <i class="fas fa-shopping-cart"></i> Products
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <!-- <li class="nav-item"> -->
        <!-- <a class="nav-link d-block" href="login.html"> -->
        <!-- Admin, <b>Logout</b> -->
        <!-- </a> -->
        <!-- </li> -->
      </ul>
    </div>
  </div>
</nav>
<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Add Product</h2>
          </div>
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block" style="color: red" th:text="${mess}"></h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <form th:action="@{/addProduct}" method="post" class="tm-edit-product-form">
              <div class="form-group mb-3">
                <label for="name">Product Name
                </label>
                <input  name="name" type="text" value="" class="form-control validate" />
              </div>
              <div class="form-group mb-3">
                <label for="name">CPU
                </label>
                <input id="name" name="cpu" type="text" value="" class="form-control validate" />
              </div>
              <div class="form-group mb-3">
                <label for="name">Memory</label>
                <select class="custom-select tm-select-accounts" name="memory"  >

                  <option value="64" selected>64</option>
                  <option value="128">128</option>
                  <option value="256">256</option>
                </select>
              </div>

<!--              <div class="form-group mb-3">-->
<!--                <label for="name">Category</label>-->
<!--                <select class="custom-select tm-select-accounts" name="category">-->

<!--                  <option th:each="category : ${listCategory}"-->
<!--                          th:value="${category.categoryId}"-->
<!--                          th:text="${category.categoryName}">-->
<!--                  </option>-->
<!--                </select>-->
<!--              </div>-->
              <div class="row">
                 <div class="form-group mb-3 col-xs-12 col-sm-6">
                 <label for="expire_date">Date
                 </label>
                 <input id="expire_date" name="date" type="date" value=""
                 class="form-control validate" data-large-mode="true" />
                 </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="sim">Sim</label>
                  <select class="custom-select tm-select-accounts" name="sim">

                    <option value="2 Sim" selected>2 Sim</option>
                    <option value="1 Sim, 1 e-sim">1 Sim, 1 e-sim</option>

                  </select>
                </div>




                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Price
                  </label>
                  <input  name="price" type="number" value="" class="form-control validate" />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Ram
                  </label>
                  <select class="custom-select tm-select-accounts" name="ram">
                    <option value="8" selected>8GB</option>
                    <option value="16" >12GB</option>
                    <option value="32">32GB</option>

                  </select>
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Display
                  </label>
                  <input  name="dis" type="number" value="" class="form-control validate" />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Origin
                  </label>
                  <input  name="origin" type="text" value="" class="form-control validate" />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="brand">Brand</label>
                  <select class="custom-select tm-select-accounts" name="brand">

                    <option th:each="brand : ${listBrand}"
                            th:value="${brand.brandId}"
                            th:text="${brand.brandName}">
                    </option>
                  </select>
                </div>
<!--                <div class="form-group mb-3 col-xs-12 col-sm-6">-->
<!--                  <label for="stock">Picture ID-->
<!--                  </label>-->
<!--                  <input name="pid" type="text" value="" class="form-control validate" />-->
<!--                </div>-->
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Picture Main
                  </label>
                  <input  name="pm" type="text" value="" class="form-control validate" />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Picture Font
                  </label>
                  <input  name="pf" type="text" value="" class="form-control validate" />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Picture Back
                  </label>
                  <input  name="pb" type="text" value="" class="form-control validate" />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Picture Side
                  </label>
                  <input  name="ps" type="text" value="" class="form-control validate" />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Camera
                  </label>
                  <input  name="camera" type="number" value="" class="form-control validate" />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Status
                  </label>
                  <select class="custom-select tm-select-accounts" name="status" required>
                    <option value="1" selected>In stock</option>
                    <option value="0" >Out stock</option>


                  </select>
                </div>
              </div>
          </div>
               <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Now</button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2024</b> All rights reserved.

        Design: <a  class="tm-footer-link"></a>
      </p>
    </div>
  </footer>

  <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <!-- https://jquery.com/download/ -->
  <script th:src="@{/jquery-ui-datepicker/jquery-ui.min.js}"></script>
  <!-- https://jqueryui.com/download/ -->
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <!-- https://getbootstrap.com/ -->
  <script>
    $(function() {
      $("#expire_date").datepicker();
    });
  </script>
</body>
</html>
