<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::header}"></head>
<body>
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }

    .page-link {
        color: #333;
    }

    .page-item.active .page-link {
        background-color: #ffd200 !important;
        border-color: #333;

    }

    .pagination_admin {
        display: flex;
    }

    .member-page-item {
        list-style: none;
    }

</style>
<!--PreLoader-->
<div th:replace="~{fragments::loader}"></div>
<!--PreLoader Ends-->

<!-- header -->
<div th:replace="~{fragments::headerNav}"></div>
<!-- end header -->

<!--&lt;!&ndash; search area &ndash;&gt;-->
<!--<div class="search-area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <span class="close-btn"><i class="fas fa-window-close"></i></span>-->
<!--                <div class="search-bar">-->
<!--                    <div class="search-bar-tablecell">-->
<!--                        <h3>Search For:</h3>-->
<!--                        <input type="text" placeholder="Keywords">-->
<!--                        <button type="submit">Search <i class="fas fa-search"></i></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- end search area -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Admin Dashboard</p>
                    <h1>Admin manager</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="order-table">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>User Role</th>
                            <th>View detail</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody id="table">
                        <tr th:each="item: ${listFirstLoad}">
                            <td th:text="${item.userId}"></td>
                            <td th:text="${item.username}"></td>
                            <td><select class="role-select" th:attr="data-id=${item.userId}">
                                <option th:each="role: ${listRole}" th:value="${role.roleName}"
                                        th:selected="${role.roleName == item.roles[0].roleName}"
                                        th:text="${role.roleName}"></option>
                            </select></td>
                            <td><a class="btn btn-info" th:href="@{/user_detail/{id}(id=${item.userId})}">Details</a>
                            </td>
                            <td>
                                <button th:class="'btn btnChange ' + ${item.status == 'ACTIVE' ? 'btn-success' : 'btn-danger'}"
                                        th:attr="data-id=${item.userId}"
                                        th:value="${item.status}"
                                        th:text="${item.status}"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div id="test"></div>

                    <ul class="pagination_admin">
                        <th:block th:if="${pageDto.currentPage > 1}">
                            <li class="page-item member-page-item">
                                <a class="page-link" type="button"
                                   th:href="@{/admin-dashboard(page=${pageDto.currentPage - 1})}">Previous</a>
                            </li>
                        </th:block>
                        <th:block th:if="${pageDto.currentPage == 1}">
                            <li class="page-item member-page-item disabled"
                                th:attr="data-page=${pageDto.currentPage - 1}"><a class="page-link"
                                                                                  type="button">Previous</a></li>
                        </th:block>
                        <div th:each="page: ${pageNumbers}">
                            <th:block th:if="${page == pageDto.currentPage}">
                                <li class="page-item member-page-item active"
                                    th:attr="data-page=${page}" th:href="@{/admin-dashboard(page=${page})}"><a
                                        class="page-link" type="button">[[${page}]]<span
                                        class="sr-only"></span></a></li>
                            </th:block>

                            <th:block
                                    th:if="${page != pageDto.currentPage && page >= pageDto.currentPage - 1 && page <= pageDto.currentPage + 2}">
                                <li class="page-item member-page-item" th:attr="data-page=${page}"><a
                                        class="page-link" type="button" th:href="@{/admin-dashboard(page=${page})}">[[${page}]]</a>
                                </li>
                            </th:block>

                        </div>
                        <th:block th:if="${pageDto.currentPage < pageDto.totalPage}">
                            <li class="page-item member-page-item">
                                <a class="page-link" type="button"
                                   th:href="@{/admin-dashboard(page=${pageDto.currentPage + 1})}">Next</a>
                            </li>
                        </th:block>
                        <th:block th:if="${pageDto.currentPage == pageDto.totalPage}">
                            <li class="page-item member-page-item disabled">
                                <a class="page-link" type="button">Next</a>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end check out section -->


<!-- footer -->
<div th:replace="~{fragments::footer}"></div>
<!-- end footer -->

<!-- copyright -->
<div th:replace="~{fragments::copyright}"></div>
<!-- end copyright -->

<!-- jquery -->
<div th:replace="~{fragments::script}"></div>
<!--<script th:src="@{/js/admin.js}"></script>-->

</body>
</html>