<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::header}">
</head>
<body>
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }
</style>
<!--PreLoader-->
<!--<div th:replace="~{fragments::loader}"></div>-->
<!--PreLoader Ends-->

<!-- header -->
<div th:replace="~{fragments::headerNav}"></div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Admin Dashboard</p>
                    <h1>Admin manager</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="order-table">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>User Role</th>
                            <th>View detail</th>
<!--                            <th>Delete</th>-->
                        </tr>
                        </thead>
                        <tbody id="table">
                        <tr th:each="item: ${listFirstLoad}">
                            <td th:text="${item.userId}"></td>
                            <td th:text="${item.username}"></td>
                            <td th:field="${item.userId}"><select class="role-select">
                                <option th:each="role: ${listRole}" th:value="${role.roleName}" th:selected="${role.roleName == item.roles[0].roleName}" th:text="${role.roleName}"></option>
                            </select></td>
                            <td><a class="btn btn-info" th:href="@{/user_detail/{id}(id=${item.userId})}">Details</a></td>
<!--                            <td>-->
<!--                                <button class="btn btn-danger cancel-order" data-order-id="1">Active</button>-->
<!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                    <div th:if="${pageDto.totalPage > 0}" class="pagination"
                         th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/admin-dashboard(page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==pageDto.currentPage} ? active">&laquo;</a>
                        <a th:href="@{/admin-dashboard(page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==pageDto.currentPage} ? active"></a>
                        <a th:href="@{/admin-dashboard(page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==pageDto.currentPage} ? active">&raquo;122222222222222222222222222222222222222222222222222222222222`</a>
                    </div>
                    <button class="btn btn-primary update-users" style="float: right; margin-top: 20px; margin-right: 11.5%;">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end check out section -->


<!-- footer -->
<div th:replace="~{fragments::footer}"></div>
<!-- end footer -->

<!-- copyright -->
<div th:replace="~{fragments::copyright}"></div>
<!-- end copyright -->

<!-- jquery -->
<div th:replace="~{fragments::script}"></div>
<script th:src="@{/js/admin.js}"></script>

</body>
</html>