<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::header}">
</head>
<body>
	<!--PreLoader-->
	<div th:replace="~{fragments::loader}"></div>
	<!--PreLoader Ends-->
	
	<!-- header -->
	<div th:replace="~{fragments::headerNav}"></div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<!--<p>Fresh and Organic</p>-->
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-body-row">
									<td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
									<td class="product-image"><img th:src="@{https://cdn.hoanghamobile.com/i/preview/Uploads/2023/09/13/iphone-15-pro-max-natural-titanium-pure-back-iphone-15-pro-max-natural-titanium-pure-front-2up-screen-usen.png}" alt=""></td>
									<td class="product-name">iPhone 15 Pro Max</td>
									<td class="product-price">29.590.000₫</td>
									<td class="product-quantity"><input type="number" placeholder="0"></td>
									<td class="product-total">1</td>
								</tr>
								<tr class="table-body-row">
									<td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
									<td class="product-image"><img th:src="@{https://i5.walmartimages.com/seo/Samsung-Galaxy-S23-Ultra-5G-Dual-S918B-512GB-12GB-RAM-GSM-Unlocked-Lavender_9ae44140-f40b-4d96-ad37-560167d17f7d.6d66e9727a3ff6e426c865fbd4dc0c5d.jpeg}" alt=""></td>
									<td class="product-name">Samsung Galaxy S23 Ultra 5G</td>
									<td class="product-price">21.990.000₫</td>
									<td class="product-quantity"><input type="number" placeholder="0"></td>
									<td class="product-total">1</td>
								</tr>
								<tr class="table-body-row">
									<td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
									<td class="product-image"><img th:src="@{https://cdn.tgdd.vn/Products/Images/42/309831/xiaomi-redmi-note-13-gold-thumb-600x600.jpg}" alt=""></td>
									<td class="product-name">Xiaomi Redmi Note 13</td>
									<td class="product-price">4.990.000₫</td>
									<td class="product-quantity"><input type="number" placeholder="0"></td>
									<td class="product-total">1</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td>56.620.000₫</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a th:href="@{/cart}" class="boxed-btn">Update Cart</a>
							<a th:href="@{/checkout}" class="boxed-btn black">Check Out</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img th:src="@{/images/company-logos/1.png}" alt="">
						</div>
						<div class="single-logo-item">
							<img th:src="@{/images/company-logos/2.png}" alt="">
						</div>
						<div class="single-logo-item">
							<img th:src="@{/images/company-logos/3.png}" alt="">
						</div>
						<div class="single-logo-item">
							<img th:src="@{/images/company-logos/4.png}" alt="">
						</div>
						<div class="single-logo-item">
							<img th:src="@{/images/company-logos/5.png}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div th:replace="~{fragments::footer}"></div>
	<!-- end footer -->
	<!-- copyright -->
	<div th:replace="~{fragments::copyright}"></div>
	<!-- end copyright -->

	<div th:replace="~{fragments::script}"></div>
</body>
</html>