<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/styleee.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <style>
        .material-icons {
            cursor: pointer; /* Đặt con trỏ thành dạng bút chì khi chỉ vào biểu tượng */
        }
    </style>
<body>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Products</b></h2>
                </div>
                <div class="col-sm-6">
                    <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                        <span>Add New PProduct</span></a>


                    <form id="searchForm" action="searchEndpoint" method="POST" class="input-group"
                          style="display: flex">
                        <input type="text" class="form-control" name="searchQuery" placeholder="Search..." required>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-danger" style="height: 34px;  width: 0px;">
                                <i class="material-icons">&#xE8B6;</i>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>Name</th>
                <th>Brand</th>
                <th>Origin</th>
                <th>Price</th>
                <th>Actions</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="productTableBody">
            <tr th:each="phone: ${listPhone}">
                <td th:text="${phone.phoneId}"></td>
                <td th:text="${phone.productName}"></td>
                <td th:text="${phone.Brand.brandName}"></td>
                <td th:text="${phone.origin}"></td>
                <td th:text="${phone.price} + '$'"></td>
                <td class="action-links">

                    <a href="#" class="edit" data-toggle="modal" data-target="#editEmployeeModal"
                       th:data-id="${phone.phoneId}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a>

                </td>
                <td style="">
                    <a th:if="${phone.status}" onclick="changeStatus(this)" class="delete" style="color: green;"
                       data-toggle="modal" th:data-id="${phone.phoneId}">
                        <i class="material-icons" data-toggle="tooltip" title="Active">check_circle</i>
                    </a>
                    <a th:if="!${phone.status}" onclick="changeStatus(this)" class="delete" style="color: gray;"
                       data-toggle="modal" th:data-id="${phone.phoneId}">
                        <i class="material-icons" data-toggle="tooltip" title="Inactive">remove_circle </i>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/addProduct}" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Name</label>
                        <input name="name" id="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input name="price" id="price" type="number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>CPU</label>
                        <input name="cpu" id="cpu" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Origin</label>
                        <input name="origin" id="origin" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Sim</label>
                        <input name="sim" id="sim" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input name="date" id="date" type="date" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Camera</label>
                        <input name="camera" id="camera" type="number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Display</label>
                        <input name="dis" id="dis" type="number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Brand</label>
                        <select name="brand" id="brand" class="form-control" required>

                            <option th:each="brand : ${listBrand}"
                                    th:value="${brand.brandId}"
                                    th:text="${brand.brandName}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Ram</label>
                        <select name="ram" id="ram" class="form-control" required>
                            <option value="8">8GB</option>
                            <option value="16">16GB</option>
                            <option value="32">32GB</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Memory</label>
                        <select name="memory" id="memory" class="form-control" required>
                            <option value="128">128GB</option>
                            <option value="256">256GB</option>
                            <option value="512">512GB</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Picture Main</label>
                        <input name="pm" id="pm" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Picture Front</label>
                        <input name="pf" id="pf" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Picture Back</label>
                        <input name="pb" id="pb" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Picture Side</label>
                        <input name="ps" id="ps" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Edit Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" id="editProductId" required readonly>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="editProductName" required>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control" id="editProductPrice" required>
                    </div>
                    <div class="form-group">
                        <label>CPU</label>
                        <input type="text" class="form-control" id="editProductCPU" required>
                    </div>
                    <div class="form-group">
                        <label>Origin</label>
                        <input type="text" class="form-control" id="editProductOrigin" required>
                    </div>
                    <div class="form-group">
                        <label>Sim</label>
                        <input type="text" class="form-control" id="editProductSim" required>
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" class="form-control" id="editProductDate" required>
                    </div>
                    <div class="form-group">
                        <label>Camera</label>
                        <input type="number" class="form-control" id="editProductCamera" required>
                    </div>
                    <div class="form-group">
                        <label>Display</label>
                        <input type="number" class="form-control" id="editProductDisplay" required>
                    </div>
                    <div class="form-group">
                        <label>Brand</label>
                        <select class="form-control" id="editProductBrand" required>

                            <option th:each="brand : ${listBrand}"
                                    th:value="${brand.brandId}"
                                    th:text="${brand.brandName}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Ram</label>
                        <select class="form-control" id="editProductRam" required>
                            <option value="8">8GB</option>
                            <option value="16">16GB</option>
                            <option value="32">32GB</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Memory</label>
                        <select class="form-control" id="editProductMemory" required>
                            <option value="128">128GB</option>
                            <option value="256">256GB</option>
                            <option value="512">512GB</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<!--<div id="deleteEmployeeModal" class="modal fade">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <form>-->
<!--                <div class="modal-header">-->
<!--                    <h4 class="modal-title">Change Status</h4>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <p>Are you sure you want to change status thís phone?</p>-->
<!--                    <p class="text-warning"><small>This action cannot be undone.</small></p>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">-->
<!--                    <input type="submit" class="btn btn-danger" value="Delete">-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


</body>
<script th:src="@{/js/CRUD.js}"></script>
<script>

</script>
</html>