
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<style>
    td{
      text-align: center;
    }
</style>
<body id="reportsPage">
<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->
<nav class="navbar navbar-expand-xl">
    <div class="container h-100">
        <a class="navbar-brand" href="products.html">
            <h1 class="tm-site-title mb-0">Product Manager</h1>
        </a>
        <button
                class="navbar-toggler ml-auto mr-0"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">
                        <i class="fas fa-tachometer-alt"></i> Orders
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/products}">
                        <i class="fas fa-shopping-cart"></i> Products
                    </a>
                </li>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-block" href="index.html">
                        Back to HomePage
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form action="" class="search-bar">
    <input type="search" name="search" pattern=".*\S.*" required style="background-color: #4E657A;">
    <button class="search-btn" type="submit">
        <span>Search</span>
    </button>
</form>
<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                        <tr style="text-align: center;">

                            <th scope="col">PRODUCT ID</th>
                            <th scope="col">PRODUCT NAME</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "phone: ${listPhone}">

                            <td class="tm-product-name" th:text = "${phone.phoneId}"><a></a></td>
                            <td th:text = "${phone.productName}"></td>
                            <td th:text ="${phone.price} + '$'"></td>
                            <td>
                                <a th:href="@{/edit-product/{id}(id=${phone.phoneId})}" style="color: white;">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/deletephone/{id}(id=${phone.phoneId})}" class="tm-product-delete-link" onclick="return confirmDelete()" >
                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                </a>
                            </td>
                        </tr>

<!--                        <tr th:each = "acc: ${listA}">-->

<!--                            <td class="tm-product-name" th:text = "${acc.accessoryId}"><a></a></td>-->
<!--                            <td th:text = "${acc.accessoryName}"></td>-->
<!--                            <td th:text ="${acc.price} + '$'"></td>-->
<!--                            <td>-->
<!--                                <a th:href="@{/edit-access}" style="color: white;">-->
<!--                                    Edit-->
<!--                                </a>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <a  class="tm-product-delete-link">-->
<!--                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                        </tr>-->

                        </tbody>
                    </table>
                </div>
              <!-- table container -->
                <a th:href="@{/add-product}"
                        class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
<!--                <a th:href="@{/add-access}"-->
<!--                   class="btn btn-primary btn-block text-uppercase mb-3">Add new accessory</a>-->


            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                <h2 class="tm-block-title">Product Categories And Brand</h2>
                <div class="tm-product-table-container">
                    <table class="table tm-table-small tm-product-table">
                        <tbody>
<!--                        <tr th:each = "category: ${listCategory}">-->
<!--                            <td class="tm-product-name" th:text="${category.categoryName}"></td>-->
<!--                            <td class="text-center">-->
<!--                                <a href="edit-category.html" class="tm-product-delete-link" style="color: white;" >-->
<!--                                    Edit-->
<!--                                </a>-->
<!--                            <td class="text-center">-->
<!--                                <a href="#" class="tm-product-delete-link">-->
<!--                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                        </tr>-->
                        <tr th:each = "brand: ${listBrand}" >
                            <td class="tm-product-name" th:text="${brand.brandName}"></td>
                            <td class="text-center">
                                <a th:href="@{/edit-brand}" class="tm-product-delete-link" style="color: white;" >
                                    Edit
                                </a>
                            <td class="text-center">
                                <a  class="tm-product-delete-link">
                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
<!--                <button class="btn btn-primary btn-block text-uppercase mb-3">-->
<!--                    <a href="ADD-category.html" style="color: white;">Add new category</a>-->
<!--                </button>-->
                <button class="btn btn-primary btn-block text-uppercase mb-3">
                    <a th:href="@{/add-brand}" style="color: white;">Add new brand</a>
                </button>
            </div>
        </div>
    </div>
</div>
<footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2024</b> All rights reserved.


        </p>
    </div>
</footer>

<script th:src="@{assets/js/jquery-3.3.1.min.js}"></script>
<!-- https://jquery.com/download/ -->
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<!-- https://getbootstrap.com/ -->
<script>
    $(function() {
      $(".tm-product-name").on("click", function() {
        window.location.href = "edit-product.html";
      });
    });

     function confirmDelete() {
            return confirm("Are you sure you want to delete this phone?");
        }

</script>
</body>
</html>