<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="~{fragments::header}"></head>-->
<!--<body>-->
<!--<link rel="stylesheet" th:href="@{/css1/style.css}">-->
<!--&lt;!&ndash;PreLoader&ndash;&gt;-->
<!--<div th:replace="~{fragments::loader}"></div>-->
<!--&lt;!&ndash;PreLoader Ends&ndash;&gt;-->

<!--&lt;!&ndash; header &ndash;&gt;-->
<!--<div th:replace="~{fragments::headerNav}"></div>-->
<!--&lt;!&ndash; end header &ndash;&gt;-->

<!--&lt;!&ndash; search area &ndash;&gt;-->
<!--<form th:action ="@{/search}" method="POST" >-->
<!--	<div class="search-area">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-12">-->


<!--					<span class="close-btn"><i class="fas fa-window-close"></i></span>-->
<!--					<div class="search-bar">-->


<!--						<div class="search-bar-tablecell">-->
<!--							<h3>Search For:</h3>-->
<!--							<input type="text" placeholder="Keywords" name="name">-->
<!--							<button type="submit">Search <i class="fas fa-search"></i></button>-->
<!--						</div>-->


<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</form>-->
<!--&lt;!&ndash; end search arewa &ndash;&gt;-->

<!--&lt;!&ndash; breadcrumb-section &ndash;&gt;-->
<!--<div class="breadcrumb-section breadcrumb-bg">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-lg-8 offset-lg-2 text-center">-->
<!--				<div class="breadcrumb-text">-->
<!--					<p>MODERN & FASHION</p>-->
<!--					<h1>Smartphones Shop</h1>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--&lt;!&ndash; end breadcrumb section &ndash;&gt;-->
<!--<section class="ftco-section">-->
<!--	<div class="container">-->
<!--		<div class="row justify-content-center">-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="container">-->
<!--		<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">-->
<!--			<div class="container">-->
<!--				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"-->
<!--						aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--					<span class="fa fa-bars"></span> Menu-->
<!--				</button>-->
<!--				<div class="collapse navbar-collapse" id="ftco-nav">-->
<!--					<ul class="navbar-nav ml-auto">-->

<!--						<li class="nav-item position-static">-->
<!--							<a class="nav-link" th:href="@{/shop}" style=" color: red" >All</a>-->
<!--						</li>-->

<!--						&lt;!&ndash;						<li class="nav-item dropdown position-static">&ndash;&gt;-->
<!--						&lt;!&ndash;							<a class="nav-link dropdown-toggle" href="" id="drop_down04" data-toggle="dropdown"&ndash;&gt;-->
<!--						&lt;!&ndash;							   aria-haspopup="true" aria-expanded="false">Category</a>&ndash;&gt;-->
<!--						&lt;!&ndash;							<div class="dropdown-menu p-4" aria-labelledby="dropdown04">&ndash;&gt;-->
<!--						&lt;!&ndash;								<div class="row">&ndash;&gt;-->
<!--						&lt;!&ndash;									<div class="col-md-3" >&ndash;&gt;-->
<!--						&lt;!&ndash;										<div th:each = "category: ${listCategory}">&ndash;&gt;-->
<!--						&lt;!&ndash;											<a class="dropdown-item" th:href="@{/shop/category/{idCategory}(idCategory=${category.categoryId})}" th:text="${category.categoryName}" style="color: black"></a>&ndash;&gt;-->

<!--						&lt;!&ndash;										</div>&ndash;&gt;-->

<!--						&lt;!&ndash;									</div>&ndash;&gt;-->
<!--						&lt;!&ndash;								</div>&ndash;&gt;-->
<!--						&lt;!&ndash;							</div>&ndash;&gt;-->
<!--						&lt;!&ndash;						</li>&ndash;&gt;-->

<!--						<li class="nav-item dropdown position-static">-->
<!--							<a class="nav-link dropdown-toggle" href="" id="drop_down04" data-toggle="dropdown"-->
<!--							   aria-haspopup="true" aria-expanded="false">Brand</a>-->
<!--							<div class="dropdown-menu p-4" aria-labelledby="dropdown04">-->
<!--								<div class="row">-->
<!--									<div class="col-md-3" >-->
<!--										<div th:each = "brand: ${listBrand}">-->
<!--											<a class="dropdown-item" th:href="@{/shop/brand/{idBrand}(idBrand=${brand.brandId})}" th:text="${brand.brandName}" style="color: black"></a>-->

<!--										</div>-->

<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</li>-->


<!--						<li class="nav-item dropdown position-static">-->
<!--							<a class="nav-link dropdown-toggle" href="" id="drop_down04" data-toggle="dropdown"-->
<!--							   aria-haspopup="true" aria-expanded="false">Ram</a>-->
<!--							<div class="dropdown-menu p-4" aria-labelledby="dropdown04">-->
<!--								<div class="row">-->
<!--									<div class="col-md-3">-->
<!--										<a class="dropdown-item" href="#">Page 1</a>-->
<!--									</div>-->

<!--								</div>-->
<!--							</div>-->
<!--						</li>-->
<!--						<li class="nav-item dropdown position-static">-->
<!--							<a class="nav-link dropdown-toggle" href="" id="drop_down04" data-toggle="dropdown"-->
<!--							   aria-haspopup="true" aria-expanded="false">Memory</a>-->
<!--							<div class="dropdown-menu p-4" aria-labelledby="dropdown04">-->
<!--								<div class="row">-->
<!--									<div class="col-md-3">-->
<!--										<a class="dropdown-item" href="">Page 1</a>-->

<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->
<!--		</nav>-->
<!--		&lt;!&ndash; END nav &ndash;&gt;-->
<!--	</div>-->
<!--</section>-->
<!--&lt;!&ndash; products &ndash;&gt;-->
<!--<div class="product-section mt-150 mb-150" style="margin-top: -10px">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-md-12">-->
<!--				<div class="product-filters" >-->
<!--					<ul style="display: flex; justify-content: center">-->
<!--						<li data-filter="*" th:href="@{/shop}">All</li>-->
<!--						<li th:each = "brand: ${listBrand}" th:data-filter="'.' + ${brand.brandName}">-->
<!--							<a th:href="@{/shop/brand/{idBrand}(idBrand=${brand.brandId})}" th:text="${brand.brandName}" style="color: black"></a>-->
<!--						</li>-->

<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="row product-lists">-->

<!--			<div th:each = "phone: ${listPhone}"  class="col-lg-4 col-md-6 text-center ">-->
<!--				<div class="single-product-item">-->
<!--					<div class="product-image">-->
<!--						<a th:href="@{/single-product/{id}(id=${phone.phoneId})}"><img th:src="@{${phone.picture.main}}" alt=""></a>-->
<!--					</div>-->
<!--					<h3 th:text = "${phone.productName}"></h3>-->
<!--					<p class="product-price" th:text ="${phone.price} + '$'">$</p>-->
<!--					<a th:href="@{/cart/add/{id}(id=${phone.phoneId})}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>-->
<!--				</div>-->


<!--			</div>-->

<!--		</div>-->
<!--		<div class="row">-->
<!--			<div class="col-lg-12 text-center">-->
<!--				<div class="pagination-wrap">-->
<!--					<ul>-->
<!--						<li><a href="#">Prev</a></li>-->
<!--						<li><a href="#">1</a></li>-->
<!--						<li><a class="active" href="#">2</a></li>-->
<!--						<li><a href="#">3</a></li>-->
<!--						<li><a href="#">Next</a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->




<!--&lt;!&ndash; end products &ndash;&gt;-->

<!--&lt;!&ndash; logo carousel &ndash;&gt;-->
<!--<div class="logo-carousel-section">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-lg-12">-->
<!--				<div class="logo-carousel-inner">-->
<!--					<div class="single-logo-item">-->
<!--						<img th:src="@{images/company-logos/1.png}" alt="">-->
<!--					</div>-->
<!--					<div class="single-logo-item">-->
<!--						<img th:src="@{images/company-logos/2.png}" alt="">-->
<!--					</div>-->
<!--					<div class="single-logo-item">-->
<!--						<img th:src="@{images/company-logos/3.png}" alt="">-->
<!--					</div>-->
<!--					<div class="single-logo-item">-->
<!--						<img th:src="@{images/company-logos/4.png}" alt="">-->
<!--					</div>-->
<!--					<div class="single-logo-item">-->
<!--						<img th:src="@{images/company-logos/5.png}" alt="">-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--&lt;!&ndash; end logo carousel &ndash;&gt;-->

<!--&lt;!&ndash; footer &ndash;&gt;-->
<!--<div th:replace="~{fragments::footer}"></div>-->
<!--&lt;!&ndash; end footer &ndash;&gt;-->

<!--&lt;!&ndash; copyright &ndash;&gt;-->
<!--<div th:replace="~{fragments::copyright}"></div>-->
<!--&lt;!&ndash; end copyright &ndash;&gt;-->

<!--<div th:replace="~{fragments::script}"></div>-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::header}"></head>
<body>
<link rel="stylesheet" th:href="@{/css1/style.css}">
<!--PreLoader-->
<div th:replace="~{fragments::loader}"></div>
<!--PreLoader Ends-->

<!-- header -->
<div th:replace="~{fragments::headerNav}"></div>
<!-- end header -->

	<!-- search area -->
<form th:action ="@{/search}" method="POST" >
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">


					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">


						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords" name="name">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</form>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>MODERN & FASHION</p>
						<h1>Smartphones Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
		</div>
	</div>
	<div class="container">
		<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
						aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span> Menu
				</button>
				<div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav ml-auto">

						<li class="nav-item position-static">
							<a class="nav-link" th:href="@{/shop}" style=" color: red" >All</a>
							</li>


						<li class="nav-item dropdown position-static">
							<a class="nav-link dropdown-toggle" href="" id="drop_down04" data-toggle="dropdown"
							   aria-haspopup="true" aria-expanded="false">Brand</a>
							<div class="dropdown-menu p-4" aria-labelledby="dropdown04">
								<div class="row">
									<div class="col-md-3" >
										<div th:each = "brand: ${listBrand}">
											<a class="dropdown-item" th:href="@{/shop/brand/{idBrand}(idBrand=${brand.brandId})}" th:text="${brand.brandName}" style="color: black"></a>

										</div>

									</div>
								</div>
							</div>
						</li>


						<li class="nav-item dropdown position-static">
							<a class="nav-link dropdown-toggle" href="" id="drop_down04" data-toggle="dropdown"
							   aria-haspopup="true" aria-expanded="false">Ram</a>
							<div class="dropdown-menu p-4" aria-labelledby="dropdown04">
								<div class="row">
									<div class="col-md-3">
										<a class="dropdown-item" href="#">Page 1</a>
									</div>

								</div>
							</div>
						</li>
						<li class="nav-item dropdown position-static">
							<a class="nav-link dropdown-toggle" href="" id="drop_down04" data-toggle="dropdown"
							   aria-haspopup="true" aria-expanded="false">Memory</a>
							<div class="dropdown-menu p-4" aria-labelledby="dropdown04">
								<div class="row">
									<div class="col-md-3">
										<a class="dropdown-item" href="">Page 1</a>

									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END nav -->
	</div>
</section>
	<!-- products -->
	<div class="product-section mt-150 mb-150" style="margin-top: -10px">
		<div class="container">
			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters" >
<!--						<ul style="display: flex; justify-content: center">-->
<!--								<li th:each = "category: ${listCategory}" th:data-filter="'.' + ${category.categoryName}">-->
<!--									<a th:href="@{/shop/category/{idCategory}(idCategory=${category.categoryId})}" th:text="${category.categoryName}" style="color: black"></a>-->
<!--								</li>-->

<!--						</ul>-->
                        <ul style="display: flex; justify-content: center">
                            <li data-filter="*" th:href="@{/shop}">All</li>
								<li th:each = "brand: ${listBrand}" th:data-filter="'.' + ${brand.brandName}">
									<a th:href="@{/shop/brand/{idBrand}(idBrand=${brand.brandId})}" th:text="${brand.brandName}" style="color: black"></a>
								</li>

                        </ul>
                    </div>
                </div>
            </div>
			<div class="row product-lists">

				<div th:each = "phone: ${listPhone}"  class="col-lg-4 col-md-6 text-center ">
					<div class="single-product-item">
						<div class="product-image">
							<a th:href="@{/single-product/{id}(id=${phone.phoneId})}"><img th:src="@{${phone.picture.main}}" alt=""></a>
						</div>
						<h3 th:text = "${phone.productName}"></h3>
						<p class="product-price" th:text ="${phone.price} + '$'">$</p>
						<a th:href="@{/cart/phone/{id}(id=${phone.phoneId})}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>


				</div>

			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- end products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img th:src="@{images/company-logos/1.png}" alt="">
						</div>
						<div class="single-logo-item">
							<img th:src="@{images/company-logos/2.png}" alt="">
						</div>
						<div class="single-logo-item">
							<img th:src="@{images/company-logos/3.png}" alt="">
						</div>
						<div class="single-logo-item">
							<img th:src="@{images/company-logos/4.png}" alt="">
						</div>
						<div class="single-logo-item">
							<img th:src="@{images/company-logos/5.png}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
<div th:replace="~{fragments::footer}"></div>
	<!-- end footer -->

	<!-- copyright -->
<div th:replace="~{fragments::footer}"></div>
	<!-- end copyright -->

<div th:replace="~{fragments::script}"></div>

</body>
</html>