<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::header}"></head>

<body>

<!--PreLoader-->
<div th:replace="~{fragments::loader}"></div>
<!--PreLoader Ends-->

<!-- header -->
<div th:replace="~{fragments::headerNav}"></div>
<!-- end header -->

<!-- search area -->
<div th:replace="~{fragments::search}"></div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1>Single Product</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img th:src="@{${product.picture.main}}" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3 th:text="${product.productName}"></h3>
                    <p class="single-product-pricing" th:text="${product.price + ' $'}"><span></span></p>
                    <p th:text="'CPU: ' + ${product.cpu}">CPU: </p>
                    <p th:text="'Camera: ' + ${product.camera}">Camera: </p>
                    <p th:text="'RAM: ' + ${product.ram}">RAM: </p>
                    <p th:text="'Origin: ' + ${product.origin}">Origin: </p>
                    <p th:text="'Memory: ' + ${product.memory}">Memory: </p>
                    <p th:text="'Sim: ' + ${product.sim}">Sim: </p>
                    <p th:text="'Display: ' + ${product.display}">Display: </p>
                    <p th:text="'Release Date: ' + ${product.releaseDate}">Release Date: </p>
                    <p th:text="'Brand: ' + ${product.brand.brandName}">Brand: </p>

                    <div class="single-product-form">
                        <form th:action="@{/cart-single/phone/{id}(id=${product.phoneId})}" method="post" class="add-to-cart-form">
                            <input type="number" name="quantity" placeholder="0" min="1">
                            <button type="submit" class="cart-btn" id="bt" style="margin-left: 7%;"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->

<!-- more products -->
<div class="more-products mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a> <img th:src="@{${product.picture.front}}" alt=""> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a> <img th:src="@{${product.picture.back}}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a> <img th:src="@{${product.picture.site}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end more products -->
<!-- footer -->
<div th:replace="~{fragments::footer}"></div>
<!-- end footer -->

<!-- copyright -->
<div th:replace="~{fragments::copyright}"></div>
<!-- end copyright -->

<!-- jquery -->
<div th:replace="~{fragments::script}"></div>
</body>
</html>